<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" media="screen"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
    <div class="one">
        <h1>CWRU campus covid-tracker</h1>
    </div>
    


    <div class="wrapper">
        <form action="/">
            <label for="searchdropdown" class="dropdowntext">Choose a search result:</label>
            <select name="searchdropdown" id="dropdown">
                <!--<optgroup label="searchtype" id="searchbaroption">-->
                    <option value="residents">return student id's of fellow residents with covid</option>
                    <option value="classmates">return student id's of fellow classmates with covid</option>
                    <option value="organizations">return student id's of fellow organization members with covid</option>
                    <option value="count">return the total number of students in CWRU that have covid</option>
                <!--</optgroup>-->
            </select>
            <br><br>
        </form>
        <input type="text" id="bar" class="input" 
            placeholder="Enter student id to search">
        <div class="searchbtn" type="submit" onclick="window.location.href=`http://127.0.0.1:5000/search?searchterm=${document.getElementById('bar').value}&searchtype=${document.getElementById('dropdown').value}`"><i class="fas fa-search"></i>
        </div>
    </div>
</body>

</html>
